version: "3.9"

services:
  api:
    build: .
    image: fast-api:1.0
    container_name: fastapi_api
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: fastapi_api_db
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
